.modal h3 {
    margin: 0;
    font-family: "Georgia", serif;
}

.alert-notification, .form-loading {
    display:none;
}

.bootstrap-checkbox-holder {
    padding-top: 3pt;
}

.module-controls-container .alert-notification {
    display: none;
}

.transaction-action-button {
    display:inline-block;
}

span.emerchantpay-logo {
    background-image: url("../../../images/emerchantpay/logos/logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 100%;
    line-height: 16px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 8pt;
}

.treegrid-indent {width:16px; height: 16px; display: inline-block; position: relative;}

.treegrid-expander {width:16px; height: 16px; display: inline-block; position: relative; cursor: pointer;}

.treegrid-expander-expanded{background-image: url(../../../images/emerchantpay/treegrid/collapse.png); }
.treegrid-expander-collapsed{background-image: url(../../../images/emerchantpay/treegrid/expand.png);}